


/* to save------------------------------------------------------------------------------------------------- */


@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway&display=swap');


 
body{
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Raleway', sans-serif;
    font-size:19px ;
}
 


.s1{
    height: 250vh;
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: relative;
}
.st{
    height: 100%;
    
    display: flex;
    position: relative;
    flex-direction: column;
}

.s2{
    display: flex;
    justify-content: flex-end;
    gap: 3px;
     background-color: white;
    height: 10vh;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.609) ;
    position: relative;
    z-index: 4;
    
}

.z1{
    text-decoration: none;
    color: black;
  padding-top: 20px;
  width: 175px;
text-align: center;
transition: 0.3s;

}

.z1:hover{
    color: white;
    font-size:20px ;
  background-color: black;
  }

  .im1{
height: 9.5vh;
transition: 0.5s;

  }

  .logo{
    position: absolute;
    left: 40px;
    
  }
  
 
.foot{
    background-color: rgb(0, 0, 0);
    height: 10vh;
    width: 100%;
    box-shadow: 1px 0px 5px 3px rgba(3, 3, 3, 0.938);
    position: absolute;
    bottom: 0;
    
}
h6{
    text-align: center;
    font-size: 20px;
    margin-top: 23px;
    color: white;

}
 
.menu{
    width: 50px;
    position: absolute;
    top: 35px;
    right: 30px;
    visibility: hidden;
 
  
}
/* to save---------------------------------------------------------------------------------------- */
 
 

.w1{
     
    width: 70%;
    height: 30vh;
    margin: 20px auto;
    border-radius: 170px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.679);
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.841);
    transition: 0.5s;
}

.w1:hover{
    scale: 1.05;
}


.im2{
    position: absolute;
    top: -2px;
    left: 0px;
    height: 100%;
    border-radius: 50%;
    border: solid 3px rgb(0, 0, 0);
}

h2{
    width: 100%;
   text-align: center;
   font-size: 35px;
   margin: auto;
   margin-left: 50px;
    
    
}
h4{
    margin: auto;
    font-size: 15px;
    margin-top: -20px;

}

.im3{
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.6;
}
 















 






















  /* Responsive TABLETTE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

  @media (max-width: 1180px) and (min-width: 749px) {
   
    
    /* to save-------------------------------------------------------------------------------------------------- */
    .s2{
        display: flex;
        flex-direction:column; 
        justify-content: flex-start;
        
        height: 100%;
        width: 175px;
         

    }
    .im1{
        height: 11vh;
        transition: 0.5s;
       
        
          }

    .logo{
        position: absolute;
        top: 40px;
        left: 40px;
        
      }
      
#ac{
    margin-top: 150px;
}

      .z1{
        text-decoration: none;
        color: black;
      width: 175px;
     align-content: center;
    transition: 0.3s;
    margin-top: 20px;
    height: 50px;
    }


    .s1{
        height: 210vh;
        width: 100%;
        background: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .st{
        height: 100%;
        width: calc(100vw - 175px);
        display: flex;
        position: relative;
        flex-direction: column;
    }

 
.menu{
    visibility: hidden;
}

 /* to save-------------------------------------------------------------------------------------------------------------- */



 .w1{
     
    width: 93%;
    height: 20vh;
    margin: 20px auto;
    border-radius: 170px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.679);
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.841);
}

.im2{
    position: absolute;
    top: -2px;
    left: 0px;
    height: 100%;
    border-radius: 50%;
    border: solid 3px rgb(0, 0, 0);
}

h2{
    width: 100%;
   text-align: center;
   font-size: 20px;
   margin: auto;
    
    
    
}
h4{
    margin: auto;
    font-size: 12px;
    margin-top: -20px;
    

}




















  }
 


 













  
  /* Responsive mobile +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

  @media (max-width: 750px) and (min-width: 469px) {

    /* to save-------------------------------------------------------------------------------------------------------- */
    
    .s2{
        display: flex;
        flex-direction:column; 
        justify-content: flex-start;
        
        height: 18vh;
        width: 100%;
         

    }
    .im1{
        height: 11vh;
        transition: 0.5s;
       
        
          }

    .logo{
        position: absolute;
       margin: 20px auto;
        
      }
      
#ac{
    margin-top: 150px;
}

      .z1{
        text-decoration: none;
        color: black;
      width: 100%;
     align-content: center;
    transition: 0.3s;
    margin-top: 20px;
    height: 50px;
    display: none;
    }

   


    .s1{
        height: 110vh;
        width: 100%;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .st{
        height: calc(100%-18vh);
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
    }


.menu{
    visibility: visible;
}

h6{
    font-size: 15px;
}

/* to save----------------------------------------------------------------------------------------------------------------- */




.w1{
     
    width: 93%;
    height: 10vh;
    margin: 10px auto;
    border-radius: 170px;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.679);
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.841);
}

.im2{
    position: absolute;
    top: -2px;
    left: 0px;
    height: 100%;
    border-radius: 50%;
    border: solid 3px rgb(0, 0, 0);
}

h2{
    width: 100%;
   text-align: center;
   font-size: 20px;
   margin: auto;
    
    
    
}
h4{
    margin: auto;
    font-size: 12px;
    margin-top: -10px;
    

}








  }






  @media (max-width:470px)  { 


 /* to save-------------------------------------------------------------------------------------------------------- */
    
 .s2{
    display: flex;
    flex-direction:column; 
    justify-content: flex-start;
    
    height: 18vh;
    width: 100%;
     

}
.im1{
    height: 11vh;
    transition: 0.5s;
   
    
      }

.logo{
    position: absolute;
   margin: 20px auto;
    
  }
  
#ac{
margin-top: 150px;
}

  .z1{
    text-decoration: none;
    color: black;
  width: 100%;
 align-content: center;
transition: 0.3s;
margin-top: 20px;
height: 50px;
display: none;
}




.s1{
    height: 110vh;
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: relative;
}

.st{
    height: calc(100%-18vh);
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}


.menu{
visibility: visible;
}

h6{
font-size: 15px;
}
























.s1{
    height: 510vh;
}


    .w1{
     
        width: 73%;
        height: 50vh;
        margin: 10px auto;
        border-radius: 10px;
        box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.679);
         
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        background-color: rgba(255, 255, 255, 0.841);
    }
    
    .im2{
         
       display: flex; 
        height: 60%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    border: solid 0px black;

    }
    
    h2{
        width: 100%;
       text-align: center;
       font-size: 16px;
       margin: auto;
       margin-top: 33vh;  
        
        
    }
    h4{
        margin: auto;
        font-size: 10px;
        margin-top: -5vh;
        
        
    
    }



  }